<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReproductorMusical.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AEC68D90276A5A0200299A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC68DA9276A5A0400299A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEC68DB4276A5A0400299A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
